[AMI]
URL=1.1.1.1
PORT=8088
USERNAME=username
SECRET=secret

[SIP]
CHANNEL=PJSIP/101
CONTEXT=from-internal
CALLER_ID=101

[ASTERISK]
INTERNAL=3

[LDAP]
ACTIVE=True
URL=1.1.1.1
USER=username@example.local
PASSWORD=password
BASE=OU=Test,DC=example,DC=local

#
#INTERNAL - number of digits of internal phone numbers
#
#LDAP - if you don't want to use LDAP set ACTIVE to False
#       it will search name of caller for incoming calls
#